.app{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    padding-top: 5%;
}
.app h2{
    margin-top: 15px;
}
.apagado{
    color: gray;
    font-style: italic;
}
.app__index{
    margin-top: 20px;
    background-color: rgba(255,255,255,0.5);
    width: auto;
    height: auto;
    padding: 10px;
    color: black;
}
.app__index h5{
    text-align: center;
}
.enlace{
    color: #385e86;
    cursor: pointer;
}
@media screen and (max-width:620px){
    .app{
        padding-top: 13%;
    }
}