.tripulantes{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    padding-top: 5%;
}
.tripulantes h2{
    margin-top: 15px;
}
.tripulantes__index{
    margin-top: 20px;
    background-color: rgba(255,255,255,0.5);
    width: auto;
    height: auto;
    padding: 10px;
    color: black;
}
.tripulantes__index h5{
    text-align: center;
}
@media screen and (max-width:620px){
    .tripulantes{
        padding-top: 13%;
    }
}